extends layout.pug

block content
  body
    h2 Books
    p.float-right
      a.btn.btn-success.btn-sm(href='/books/new') Create New Book
      //- form.form-inline.my-2.my-lg-0
      //-   input.form-control.mr-sm-2(type='search', name='search', placeholder='Search book ...', aria-label='Search')
      //-   button#search.btn.btn-outline-success.my-2.my-sm-0(type='button', onclick='searchBook()') Search

    p
      | Filters: 
      a.btn.btn-outline-success.btn-sm(href='/books') All
      |  
      a.btn.btn-outline-success.btn-sm(href='/books/overdue') Overdue
      |  
      a.btn.btn-outline-success.btn-sm(href='/books/checked_out') Checked Out

    table.table.table-striped.table-bordered.table-hover.table-sm
      thead.thead-inverse
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in books
          tr
            td
              a(href='/books/' + book.id)= book.title
            td= book.author
            td= book.genre
            td= book.first_published
    br
    .pagination
      each page in totalPages
        a.page-item.page-link(class={active: page===currentPage} href='/books?page='+ page )= page


    script(src='../javascripts/main.js')
