extends layout.pug

block content
  body
    h1.m-3 Book: 
      span.strong #{book.title}
    if errors
      h2.alter Oooops!
      ul
        each error in errors
          li.alter.alter-danger= error.message
    form(action='/books/' + book.id, method="post")
      p(name='id', value='book.id', style='display:none')
      p.form-group
        label(for='title') Title
        input#title.form-control(name='title', type='text', value=book.title)
      p.form-group
        label(for='author') Author
        input#author.form-control(name='author', type='text', value=book.author)
      p.form-group
        label(for='genre') Genre
        input#genre.form-control(name='genre', type='text', value=book.genre)
      p.form-group
        label(for='first_published') First Published
        input#first_published.form-control(name='first_published', type='text', value=book.first_published)
      p.form-group
        input.btn.btn-success(type='submit', value='Update')
    h2 Loan History
    table.table.table-striped.table-bordered.table-hover.table-sm
      thead.bg-info.text-white
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
        each loan in loans
          tr
            td
              a.small.text-success.align-middle(href='/books/' + book.id)= book.title
            td
              a.small.text-success.align-middle(href='/patrons/' + loan.Patron.id)= loan.Patron.first_name +' '+ loan.Patron.last_name
            td.small= loan.loaned_on
            td.small= loan.return_by
            td.small= loan.returned_on
            td.small
              a.btn.text-success.align-middle(href='/loans/' + loan.id) Return Book