extends layout.pug

block content
  body
    h1 Book: #{book.title}
    form(action='/books/' + book.id, method="post")
      p(name='id', value='book.id', style='display:none')
      p
        label(for='title') Title
        input#title(name='title', type='text', value=book.title)
      p
        label(for='author') Author
        input#author(name='author', type='text', value=book.author)
      p
        label(for='genre') Genre
        input#genre(name='genre', type='text', value=book.genre)
      p
        label(for='first_published') First Published
        input#first_published(name='first_published', type='text', value=book.first_published)
      p
        input(type='submit', value='Update')
    h2 Loan History
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
        each loan in loans
          tr
            td
              a(href='/books/' + book.id)= book.title
            td
              a(href='/patrons/' + loan.Patron.id)= loan.Patron.first_name +' '+ loan.Patron.last_name
            td= loan.loaned_on
            td= loan.return_by
            td= loan.return_on
            td
              a.button(href='/books/return_book/' + loan.book_id) Return Book