extends layout.pug

block content
  body
    h2 Book: #{book.title}
    if errors
      h2.error Oooops!
      ul.error
        each error in errors
          li.error= error.message
    form(action='/books/' + book.id, method="post")
      p(name='id', value='book.id', style='display:none')
      p.form-group
        label(for='title') Title
        input#title.form-control(name='title', type='text', value=book.title)
      p.form-group
        label(for='author') Author
        input#author.form-control(name='author', type='text', value=book.author)
      p.form-group
        label(for='genre') Genre
        input#genre.form-control(name='genre', type='text', value=book.genre)
      p.form-group
        label(for='first_published') First Published
        input#first_published.form-control(name='first_published', type='text', value=book.first_published)
      p.form-group
        input.btn.btn-primary(type='submit', value='Update')
    h2 Loan History
    table.table.table-striped.table-bordered.table-hover.table-sm
      thead.thead-inverse
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
        each loan in loans
          tr
            td
              a(href='/books/' + book.id)= book.title
            td
              a(href='/patrons/' + loan.Patron.id)= loan.Patron.first_name +' '+ loan.Patron.last_name
            td= loan.loaned_on
            td= loan.return_by
            td= loan.return_on
            td
              a.button(href='/loans/' + loan.id) Return Book