extends layout.pug

block content
  body
    h2.mt-3.mb-3 Checked Out Books
    p.float-right
      a.btn.btn-success.btn-sm(href='/loans/new') Create New Loan
    p
      | Filters 
      a.btn.btn-outline-success.btn-sm(href='/loans') All
      |  
      a.btn.btn-outline-success.btn-sm(href='/loans/overdue') Overdue
      |  
      a.btn.btn-outline-success.btn-sm(href='/loans/checked_out') Checked Out
    table.table.table-striped.table-bordered.table-hover.table-sm
      thead.bg-info.text-white
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
        each loan in loans
          tr
            td
              a.small.text-success.align-middle(href='/books/' + loan.book_id)= loan.Book.title
            td
              a.small.text-success.align-middle(href='/patrons/' + loan.patron_id)= loan.Patron.first_name +' '+ loan.Patron.last_name
            td.small.align-middle= (loan.loaned_on ? loan.loaned_on.substring(0,10) : '')
            td.small.align-middle= (loan.return_by ? loan.return_by.substring(0,10) : '')
            td.small.align-middle= (loan.returned_on ? loan.returned_on.substring(0,10) : '')
            td
              if !loan.returned_on 
                a.btn.btn-small.text-success.btn-sm(href='/loans/' + loan.id) Return Book

